<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A4GAboutEmail</key>
	<string>info@shiftdevelopment.com</string>
	<key>A4GAboutText</key>
	<string>Shift Development Inc. creates exceptional residential and commercial development projects fostering sustainable lifestyles, connection, and collaboration. With innovative projects focusing on adaptive reuse, we design environments where communities thrive.</string>
	<key>A4GAboutURL</key>
	<string>http://shiftdevelopment.com</string>
	<key>A4GAppText</key>
	<string>A modern, green, and affordable housing project at home in Riversdale—Saskatoon&apos;s most diverse community.</string>
	<key>A4GAppURL</key>
	<string>http://livemosaic.ca</string>
	<key>A4GButtonDoneColor</key>
	<string>#1c1c1a</string>
	<key>A4GNavBarColor</key>
	<string>#1c1c1a</string>
	<key>A4GOverlays</key>
	<array>
		<string>overlay-1.png</string>
		<string>overlay-2.png</string>
		<string>overlay-3.png</string>
	</array>
	<key>A4GTableBackColor</key>
	<string>#F2F2F2</string>
	<key>A4GTableHeaderTextColor</key>
	<string>#6E6E6E</string>
	<key>A4GTableRowTextColor</key>
	<string>#848484</string>
	<key>A4GToolBarColor</key>
	<string>#706d64</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mosaic</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon~iPad.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>ca.apps4good.brandagram.mosaichomes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mosaic</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fb363407470413332</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FacebookAppID</key>
	<string>363407470413332</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>A4GApplication_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>A4GApplication_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv6</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
