<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon~iPad.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>ca.apps4good.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>A4GApplication_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>A4GApplication_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv6</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>A4GOverlays</key>
	<array>
		<string>overlay-1.png</string>
		<string>overlay-2.png</string>
		<string>overlay-3.png</string>
		<string>overlay-4.png</string>
	</array>
	<key>A4GAboutEmail</key>
	<string>contact@apps4good.ca</string>
	<key>A4GAppText</key>
	<string>Brandagram is a unique photo sharing app framework for iPhone designed to promote fun, engagement, and community at your event/organization!</string>
	<key>A4GAppURL</key>
	<string>http://apps4good.ca/apps/brandagram</string>
	<key>A4GButtonDoneColor</key>
	<string>#386890</string>
	<key>A4GNavBarColor</key>
	<string>#61acc9</string>
	<key>A4GToolBarColor</key>
	<string>#b2e6f2</string>
	<key>A4GTableGroupedBackColor</key>
	<string>#F2F2F2</string>
	<key>A4GTableGroupedHeaderTextColor</key>
	<string>#6E6E6E</string>
	<key>A4GTableGroupedTextColor</key>
	<string>#848484</string>
	<key>A4GTablePlainBackColor</key>
	<string>#FAFAFA</string>
	<key>A4GTablePlainHeaderBackColor</key>
	<string>#6E6E6E</string>
	<key>A4GTablePlainHeaderTextColor</key>
	<string>#424242</string>
	<key>A4GTablePlainRowEvenColor</key>
	<string>#F3F3F3</string>
	<key>A4GTablePlainRowOddColor</key>
	<string>#F1F1F1</string>
	<key>A4GTablePlainTextColor</key>
	<string>#848484</string>
</dict>
</plist>
